@import "../../../assets/global.css";
.fondo {
  background-color: var(--secondary-color);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.logo-marca {
  text-align: center;
  color: white;
}
img {
  max-width: 80%;
  height: auto; 
  display: block; 
}
.img-container img {
  width: 250px;
  margin-bottom: 20px;
}

.gestion-salud {
  display: flex;         
  flex-direction: column; 
  gap: 0px;              
  align-items: center;
}

.slogan {
  margin-top: 2px;
  font-size: 1.2rem;
  font-weight: 400;
  margin-right:50px;
  font-family: var(--font-work);
}

.login-card {
  background: #ffffff;
  padding: 60px 40px;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  height: 490px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

.titulo-login {
  text-align: center;
  font-weight: 800;
  margin-bottom: 40px;
  color: #000;
  font-family: var(--font-work);
}

.input-group {
  margin-bottom: 25px;
}

.input-group label {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  font-family: var(--font-work);
}

.input-group input {
  width: 100%;
  padding: 15px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  box-sizing: border-box; 
  font-family: var(--font-work);
}

.btn-login {
  width: 100%;
  padding: 15px;
  background-color: #82c0aa;
  border: 1px solid #668d7e;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-top:2%;
  font-family: var(--font-work);
  font-size: 100%;
}
.btn-login:hover {
  background-color: var(--cards1-color);
  color: white;
}

.btn-login:disabled {
  background-color: #ccc;
}

.linea-separadora {
  border-top: 2px solid var(--secondary-color); 
  width: 100%;               
  margin: -20px auto 30px;    
  opacity: 0.6;              
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Cambia a vw para asegurar el ancho total */
  height: 100vh; /* Cambia a vh para asegurar el alto total */
  background: rgba(0, 0, 0, 0.8); /* Más oscuro para notar la diferencia */
  display: flex; /* Si esto no está, el modal no se centra y puede que no se vea */
  justify-content: center;
  align-items: center;
  z-index: 9999 !important; /* El valor más alto posible */
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  position: relative; 
  border-color: var(--secondary-color) 30px solid;
  z-index: 10000;
}
.btn-entendido {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.modal-content h3 {
  margin-bottom: 15px;
  font-family: var(--font-work);
}